@define-color transparent rgba(0, 0, 0, 0);
@define-color bg #292828;
@define-color bg-alt rgba(18, 17, 17, 0.96);
@define-color border rgba(68, 68, 68, 0.96);
@define-color fg #c0af8b;
@define-color fg-soft #9a8b78;
@define-color fg-strong #7b8a8b;
@define-color focus #556c59;
@define-color warn #d8b170;
@define-color danger #725548;
@define-color accent #808fbe;

* {
  border: none;
  border-radius: 0;
  font-family: "Iosevka Nerd Font", "Noto Sans Thai", "Noto Color Emoji";
  font-weight: bold;
  font-size: 14px;
  margin: 2px 1px 0 1px;
  min-height: 0;
}

window#waybar {
  background: @transparent;
  color: @fg;
}

tooltip {
  background: @bg;
  border: 0px solid @border;
  border-radius: 0px;
  color: @fg-strong;
}

#custom-launcher,
#tags,
#window,
#custom-windows,
#custom-media,
#custom-updates,
#network,
#pulseaudio,
#backlight,
#battery,
#clock,
#tray,
#custom-power {
  background: @bg;
  border: 1px solid @border;
  border-radius: 0px;
  padding: 0 12px;
}

#custom-launcher,
#custom-power {
  padding: 0 14px;
  color: @fg-strong;
}

#custom-launcher {
  margin: 2px 0 2px 25px;
}

#custom-power {
  margin: 2px 20px 0 0;
  color: #eaac79;
}

#custom-media {
  color: @fg-strong;
  min-width: 50px;
  padding: 0 18px;
}

#custom-windows,
#window {
  color: @fg;
  min-width: 44px;
  padding: 0 14px;
}

#custom-media.paused {
  color: @warn;
}

#custom-media.stopped,
#custom-media.missing {
  color: @fg-soft;
}

#tags {
  padding: 0 8px;
}

#tags button {
  background: transparent;
  border-radius: 0px;
  box-shadow: none;
  color: @fg-soft;
  margin: 1px 2px;
  padding: 0 10px;
}

#tags button:hover {
  background: rgba(85, 108, 89, 0.18);
  color: @fg-strong;
}

#tags button.occupied {
  color: @fg;
}

#tags button.focused {
  background: @focus;
  color: @fg-strong;
}

#tags button.urgent {
  background: @danger;
  color: @fg-strong;
}

#custom-updates,
#backlight {
  color: @warn;
}

#network {
  color: #8cb5af;
}

#pulseaudio {
  color: #8fa176;
}

#battery {
  color: @accent;
}

#battery.warning:not(.charging),
#battery.critical:not(.charging) {
  color: #c15a5e;
}

#clock {
  color: @fg-strong;
}

#tray {
  padding: 0 10px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}
