[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = SUDOER1337
	email = thannachoot@gmail.com
[credential]
	helper = store
